

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  'Neufreit', sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #323232;
$mainColor: #454545;
$mainColor2: #59fed1;
$hover: #94cec4;