.hero {
    position: relative;
    overflow: hidden;
    & .dec {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 45%;
        max-width: 459px;
        transform: translate(12%, -7%);
        & img {
            width: 100%;
            height: auto;
        }

        @media (max-width: $md3+px) {
            transform: translate(15%, 40%);
        }
    }

    &__bg {
        position: absolute;
        top: -50px;
        left: 50%;
        height: calc(100% + 100px);
        width: calc(100% + 100px);
        transform: translateX(-50%);
        z-index: 1;
        overflow: hidden;

        & img {
            object-position: 0 30%;
        }

        & .bg-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;

            background-color: rgba(#000, 0.15);
        }
    }

    &__body {
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
        color: #fff;
        padding-bottom: 90px;

        padding-top: 245px;

        @media (max-width: $md2+px) {
            padding-top: 200px;
        }
        @media (max-width: $md3+px) {
            padding-top: 150px;
            min-height: 100vh;
        }
    }

    &__title {
    }
}
