.download {
    &__list {
        & > li {
            &:not(:last-child) {
                margin-bottom: 46px;
            }
        }
    }
}

.download-card {
    display: block;
    background-color: $mainColor;
    color: #fff;
    transition: all .4s ease;

    @media (min-width: 768px) {
        display: flex;
    }

    @media (min-width: 992px) {
        &:hover {
            background-color: $hover;

            & .download-card__img {
                &::before {
                    background-color: $hover;
                }

                & img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__img {
        min-height: 319px;
        flex: 0 0 37.5%;
        overflow: hidden;


        @media (max-width: $md2+px) {
            min-height: 280px;
        }

        @media (min-width: 768px) {
            &:before {
                position: absolute;
                content: '';
                top: 0;
                right: -1px;
                height: 100%;
                width: 160px;
                background-color: $mainColor;
                z-index: 2;
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
                transition: all .4s ease;
            }
        }


        & img {
            transition: all 1.4s ease;
            object-position: 0 0;
        }
    }

    &__text-wrap {
        flex: 1 1 auto;
        padding: 15px 30px 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md2+px) {
            padding: 15px 20px 15px 0;
        }
        @media (max-width: $md3+px) {
            padding: 25px 20px;
        }
    }

    &__title {
        margin-bottom: 0.5em;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.005em;
        line-height: 1.5em;

        @media (max-width: $md3+px) {
            font-size: 18px;
        }
    }
}

.more-loading {
    text-align: center;
    padding-top: 160px;

    @media (max-width: $md2+px) {
        padding-top: 100px;
    }
    @media (max-width: $md3+px) {
        padding-top: 50px;
    }
}