.overview {
    & .text-content {

        & .wpforms-page-button {
            background-image: none;
        }
    }

    & div.wpforms-container-full .wpforms-form {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.5em;

        @media (max-width: $md2+px) {
            font-size: 22px;
        }

        @media (max-width: $md3+px) {
            font-size: 18px;
        }
    }

    & div.wpforms-container-full .wpforms-form .wpforms-page fieldset {
        max-width: 1000px;
        margin-bottom: 90px;
        display: block;

        @media (max-width: $md3+px) {
            margin-bottom: 60px;
        }

        & legend {
            @media (max-width: $md3+px) {
                margin-left: -10px;
            }
        }

        & > *:not(legend) {
            margin-bottom: 1.5em;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        & table {
            font-style: italic;
            width: 100%;
            @media (max-width: $md3+px) {
                display: block;
            }
            & tr {
                @media (max-width: $md3+px) {
                    display: block;

                    &:not(:last-child) {
                        margin-bottom: 0.8em;
                    }
                }
            }
            & td {
                vertical-align: top;

                @media (max-width: $md3+px) {
                    display: block;
                }
                &:first-child {
                    padding-right: 0.7em;
                    min-width: 9em;

                    @media (min-width: 768px) {
                        width: 50%;
                    }

                    @media (max-width: $md3+px) {
                        min-width: auto;
                        font-weight: bold;
                    }
                }
            }
        }

        & ul {
            padding-left: 0;
            list-style: none;

            & > li {
                list-style: none;
            }

            & a {
                font-weight: 400;
            }
        }

        &.not-border {
            border: none;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &--second {
        & > .container-sm {
            max-width: 1120px;
        }
    }
}

.upload-images {
    padding-left: 0 !important;
    margin-bottom: 0;
    list-style: none !important;

    & > li {
        list-style: none !important;
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        align-items: center;

        @media (max-width: $md3+px) {
            gap: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
            @media (max-width: $md3+px) {
                margin-bottom: 20px;
            }
        }

        & .dz-details {
            font-size: 20px;
            line-height: 1.4em;
            word-break: break-word;

            @media (max-width: $md3+px) {
                font-size: 16px;
            }
        }

        & .dz-size {
            display: none;
        }
    
    }
    &__img {
        flex: 0 0 auto;
        width: 100px;
        height: 100px;
        background-image: none !important;

        @media (max-width: $md3+px) {
            width: 60px;
            height: 60px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4em;
        word-break: break-word;

        @media (max-width: $md3+px) {
            font-size: 18px;
        }
    }

    & a:hover {
        opacity: 0.7;
    }
}

.fancybox__container {
    opacity: 1 !important;
}

.overview-list {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 2.4rem;
    line-height: 1.25em;
    color: #777777;

    @media (max-width: $md3+px) {
        font-size: 18px;
    }

    & h6 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.25em;
        letter-spacing: 0.05em;
        margin-bottom: 0.58em;
        text-transform: none;
        color: #000;

        @media (max-width: $md3+px) {
            font-size: 18px;
        }
    }

    & > li {

        &:not(:last-child) {
            margin-bottom: 8rem;

            @media (max-width: $md3+px) {
                margin-bottom: 40px;
            }
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}
