.subscribe-page-links {
    @media (min-width: 992px) {
        min-height: 955px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    padding: 160px 0;

    @media (max-width: $md2+px) {
        padding: 100px 0;
    }
    @media (max-width: $md3+px) {
        padding: 50px 0;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1160px;
        width: 100%;
        font-size: 10px;

        @media (max-width: $md3+px) {
            font-size: 5px;
        }
        @media (max-width: 575.98px) {
            font-size: 4px;
        }

        & > span {
            font-size: 4em;
            font-weight: 700;
        }
    }

    &__item {
        margin: 25px 10px;

        text-align: center;
        display: block;
        background-color: $mainColor;
        transition: all .3s ease;
        width: 38.2em;
        min-height: 26.1em;
        padding: 7.1em 2em 2.4em;
        color: #fff;

        @media (min-width: 992px) {
            &:hover {
                background-color: $hover;
            }
        }


    }

    &__item-icon {
        height: 9.2em;
        position: relative;
        display: inline-block;
        margin-bottom: 3.2em;

        & img {
            display: block;
            height: 100%;
            width: auto;
        }

        & span {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 6.2em;
            transform: translate(100%, -50%);

            & img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__item-text {
        font-size: 3.5em;
        font-weight: 700;
    }
}
