.header {
    transition: all 0.4s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 48;

    &.is-scroll:not(.menu-open), &.dark:not(.menu-open) {
        background-color: rgba($mainColor, 0.8);

        & .header__body {
            min-height: 85px;

            @media (max-width: $md3+px) {
                min-height: 80px;
            }
        }

        & .header__logo {
            max-width: 286px;

            @media (max-width: $md3+px) {
                max-width: 240px;
            }
        }
    }
    &__body {
        display: flex;
        align-items: center;
        min-height: 205px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-between;
        transition: all 0.4s ease;

        @media (max-width: $md2+px) {
            min-height: 180px;
        }
        @media (max-width: $md3+px) {
            min-height: 131px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 286px;
        transition: all 0.4s ease;
        margin-right: 30px;

        & img, & svg {
            width: 100%;
            height: auto;
        }

        @media (max-width: $md3+px) {
            max-width: 240px;
        }

        & svg {
            & tspan, & path {
                transition: all .3s ease !important;
                fill: #fff !important;
            }
        }

        & a:hover {
            & svg {
                & .bubble-left {
                    fill: #DF4F91 !important;
                }
                & .bubble-right {
                    fill: #97D0C5 !important;
                }
            }
        }

        // .st0{clip-path:url(#SVGID_00000051357331209195248070000004492331298008458652_);fill:#97D0C5;}
        // .st1{clip-path:url(#SVGID_00000051357331209195248070000004492331298008458652_);fill:#DF4F91;}
        // .st2{fill:#767676;}
    }

    &__burger {
        flex: 0 0 auto;
        cursor: pointer;
        margin-left: auto;

        & img {
            width: 100%;
            height: auto;
        }

        & .burger {
            @media (max-width: $md3+px) {
                font-size: 6px;
            }

            transition: all 0.4s ease;

            @media (min-width: 992px) {
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__logout {
        position: relative;
        padding: 18px 0;
        margin: -15px 0 -15px 47px;

        &:hover {
            & .header__logout-message {
                display: block;
            }
        }
    }

    &__logout-icon {
        display: block;
        width: 56px;

        transition: all 0.4s ease;

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.8;
            }
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__logout-message {
        position: absolute;
        width: 300px;
        max-width: 100vw;
        top: 100%;
        background-color: #fff;
        padding: 40px 50px 40px;
        right: -58px;
        display: none;

        &.show {
            display: block;
        }

        @media (max-width: $md4+px) {
            right: -18px;
        }

        &.text-content {
            font-size: 20px;

            & p {
                margin-bottom: 0.7em;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

        &:before {
            position: absolute;
            content: '';
            height: 18px;
            width: 18px;
            top: 0;
            right: 65px;
            background-color: #fff;
            transform: translateY(-50%) rotate(45deg);

            @media (max-width: $md4+px) {
                right: 25px;
            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 47;
    transition: all 0.6s ease;
    overflow: hidden;
    max-width: none;
    padding-top: 205px;
    visibility: hidden;
    opacity: 0;

    @media (max-width: $md2+px) {
        padding-top: 180px;
    }
    @media (max-width: $md3+px) {
        padding-top: 131px;
    }

    &.open {
        visibility: visible;
        opacity: 1;

        & .menu__bg {
            animation: menuBgAnim 1s ease 1 forwards;
        }

        & .menu__list {
            & > li {
                transform: translateY(0);
                opacity: 1;

                &:nth-child(1) {
                    transition: all 1s ease 0s;
                }
                &:nth-child(2) {
                    transition: all 1s ease 0.1s;
                }
                &:nth-child(3) {
                    transition: all 1s ease 0.2s;
                }
                &:nth-child(4) {
                    transition: all 1s ease 0.3s;
                }
                &:nth-child(5) {
                    transition: all 1s ease 0.4s;
                }
                &:nth-child(6) {
                    transition: all 1s ease 0.5s;
                }
                &:nth-child(7) {
                    transition: all 1s ease 0.6s;
                }
                &:nth-child(8) {
                    transition: all 1s ease 0.7s;
                }
                &:nth-child(9) {
                    transition: all 1s ease 0.8s;
                }
                &:nth-child(10) {
                    transition: all 1s ease 0.9s;
                }
                &:nth-child(11) {
                    transition: all 1s ease 1s;
                }
                &:nth-child(12) {
                    transition: all 1s ease 1.1s;
                }
                &:nth-child(13) {
                    transition: all 1s ease 1.2s;
                }
                &:nth-child(14) {
                    transition: all 1s ease 1.3s;
                }
                &:nth-child(15) {
                    transition: all 1s ease 1.4s;
                }
                &:nth-child(16) {
                    transition: all 1s ease 1.5s;
                }
                &:nth-child(17) {
                    transition: all 1s ease 1.6s;
                }
                &:nth-child(18) {
                    transition: all 1s ease 1.7s;
                }
                &:nth-child(19) {
                    transition: all 1s ease 1.8s;
                }
                &:nth-child(20) {
                    transition: all 1s ease 1.9s;
                }
            }
        }

        & .menu__mobile-nav {
            opacity: 1;
            transition: all .6s ease 0.8s;
        }

        & .social {
            opacity: 1;
            transition: all .6s ease 1s;
        }

        & .menu__copy {
            opacity: 1;
            transition: all .6s ease 1.2s;
        }

        & .dec-1, & .dec-2 {
            opacity: 1;
            transition: all .6s ease 1.3s;
        }
    }

    & .dec-1 {
        position: absolute;
        top: 50%;
        right: 0;
        width: 30%;
        max-width: 450px;
        z-index: 2;
        transform: translate(50px, -50%);
        transition: all .6s ease;
        opacity: 0;

        & img {
            width: 100%;
            height: auto;
        }

        @media (max-width: $md3+px) {
            width: 170px;
        }
    }
    & .dec-2 {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 30%;
        max-width: 450px;
        z-index: 2;
        transform: translate(-50px, 50px) scale(-1, 1);
        transition: all .6s ease;
        opacity: 0;

        & img {
            width: 100%;
            height: auto;
        }

        @media (max-width: $md3+px) {
            width: 170px;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 1s ease;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba(#000, 0.2);
        }
    }

    @keyframes menuBgAnim {
        0% {
            clip-path: polygon(0 0, 100% 0, 76% 100%, 0 100%);
            transform: translateX(-100%);
        }
        95% {
            transform: translateX(0%);
        }
        100% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    &__scroll-wrap {
        height: 100%;
        overflow: auto;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 4;
        padding-top: 50px;

        @media (max-width: $md2+px) {
            padding-top: 30px;
        }
    }

    &__list {
        text-align: center;
        margin-bottom: 40px;
        & > li {
            transition: all 1s ease;
            transform: translateY(-100%);
            opacity: 0;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    &__link {
        color: #fff;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.005em;
        line-height: 1em;
        transition: all .3s ease;

        @media (max-width: $md3+px) {
            font-size: 26px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__mobile-nav {
        margin-top: auto;
        margin-bottom: 40px;
        text-align: center;
        transition: all .6s ease;
        opacity: 0;

        @media (min-width: 992px) {
            display: none;
        }

        & > li {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            & a {
                color: #fff;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0.005em;
                line-height: 1em;
            }
        }
    }

    &__copy {
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.07px;
        transition: all .6s ease;
        opacity: 0;
    }

    & .social {
        margin-top: auto;
        margin-bottom: 20px;
        transition: all .6s ease;
        opacity: 0;
    }
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    & > li {
        flex: 0 0 auto;
        margin: 5px 0;

        &:not(:last-child) {
            margin-right: 11px;
        }

        & a {
            display: block;
            height: 45px;

            & img,
            & svg {
                height: 100%;
                width: auto;

                & path {
                    transition: all 0.3s ease;
                }
            }

            @media (min-width: 992px) {
                &:hover {
                    & svg {
                        & path {
                            fill: $hover;
                        }
                    }
                }
            }
        }
    }
}
