.text-block {
    padding: 160px 0;
    position: relative;

    @media (max-width: $md2+px) {
        padding: 100px 0;
    }

    @media (max-width: $md3+px) {
        padding: 50px 0;
    }

    & .dec-trees {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
        max-width: 535px;
        transform: translateX(46%);
        z-index: -1;

        & img {
            width: 100%;
            height: auto;
        }
    }

    & .text-content {
        letter-spacing: 0.025em;
        line-height: 2em;

        & p {
            margin-bottom: 1.6em;

            &.big-text {
                font-size: 40px;
                line-height: 1.5em;
                letter-spacing: 0.01875em;
    
                @media (max-width: 575.98px) {
                    font-size: 30px;
                }
            }

            & ul, & ol, & figure, & table  {
                margin-bottom: 1.6em;
            }
        }
    }

    &__head {
        & [class^="title"] {
            margin-bottom: 0.5em;
        }
    }
}

.dec {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    width: 30%;
    max-width: 346px;
    transform: translate(15%, -50%);
    & img {
        width: 100%;
        height: auto;
    }

    @media (max-width: 1600px) {
        top: auto;
        bottom: 0;
        transform: translate(15%, 0%);
    }

    @media (max-width: $md3+px) {

        transform: translate(15%, 40%);
    }
}